.myHeading{
    font-size: 47px;
    font-family : sans-serif;
}

.carousel-control-next-icon:after
{
    right: 0;
  content: '>';
  font-size: 55px;
  color: #FAD438;
}

.carousel-control-prev-icon:before {
    position: absolute;
    left: 5;
    top:50%;
    content: '<';
    font-size: 55px;
    color: #FAD438;
}

.custImg {
    position: absolute;
    top: 5%;
    left: 45%;
}

.mainImg{
    position: relative;
    top:10%;
    left: 0%;
}

.imgBox{
    width:140px;
    height: 120px;
}

.carText{
    width: 70%;font-size: 47px; font-family: Quicksand;font-weight: bold; color: #FAD438;
}

.slideBox{
    position: absolute;
    left: 30%;
    top: 0%;
}

.accordian{
    border-bottom: 2px solid #e0e0e0;
    font-size: 20px; 
    font-family: Quicksand;
    font-weight: 500;
    color: black;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
}

.accordianContainer{
    border-top: 2px solid #e0e0e0;
    margin-left: 20%;
    margin-right: 20%;
}


.sub-footer{
    background-color: #F8FAFC;
}